.footer-padding {
  padding-bottom: 60px;
}

* {
  box-sizing: border-box;
}
.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #21513b;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #c7fde3;
}

.navbar {
  background-color: #21513b;
}

.navbar-brand,
.nav-link,
.dropdown-item {
  color: #c7fde3;
}

.navbar-nav {
  margin-left: 200px;
}

.content {
  margin-top: 100px;
}

.fingerprints-container {
  size: 10px;
}

.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-child {
  border-radius: 0.5em;
  background-color: white;
  padding: 1em;
  width: clamp(500px, 50%, 600px);
  height: 300px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.modal-main {
  display: flex;
  gap: 0.5em;
  width: 100%;
  height: 100%;
}

.modal-image {
  height: 100%;
  min-width: 200px;
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.modal-image .image-wrapper {
  height: 87%;
  flex: 1;
}
.modal-image img {
  height: 100%;
  border-radius: 0.5em;
  width: 100%;
  object-fit: contain;
}

.modal-image .controls {
  height: 30px;
  gap: 2px;
  display: flex;
}

.modal-image .controls > * {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-details {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
